
<div>
  <%if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %><br>
      <%= error %>
    <%end%>
  <%end%>
</div>

 
  
<div class="trklst-form"> 
  <h1 class="text-info">Edit Tracklist</h1>
    <%= form_for @tracklist do |f| %>
      <div class="trklst-form-wrapper">
        <%= f.label "Edit Name", class: "text-info" %>
        <%= f.text_field :name, class: "input-mysize"%>
        <br>
        <%= f.label "Edit Link", class: "text-info" %>
        <%= f.text_field :link, class: "input-mysize" %>
        <br> 
        <%= f.label "Edit Image", class: "text-info" %>
        <%= f.text_field :img_url, class: "input-mysize" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <br>
      <%= f.submit %>
      </div>
  <%end%>
</div>