<h1>New Tracklist:</h1>

<%= form_for @tracklist do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
  <br>
    <%= f.label :link %>
    <%= f.text_field :link %>
  <br>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  <br><br>
    
    <h4>Artist Form</h4><br>
    <%= f.fields_for :artist_attributes do |inner| %>
      <%= inner.label :artist %>
      <%= inner.text_field :name, list: "artists_autocomplete" %>
        <datalist id= "artists_autocomplete">
          <% @artists.each do |artist| %>
            <option value="<%= artist.name %>">
          <%end%>
        </datalist><br>
        <%= inner.label :img_url %>
        <%= inner.text_field :img_url, placeholder:"Don't add if Artist already exists"%>
      <%end%>

  <br>



  <br>  
  <h4>Festival Form</h4><br>
  <br>
    <%= f.fields_for :festival_attributes do |inner| %>
      <%= inner.label :festival %>
      <%= inner.text_field :name, list: "festivals_autocomplete" %>
        <datalist id= "festivals_autocomplete">
          <% @festivals.each do |festival| %>
            <option value="<%= festival.name %>">
          <%end%>
        </datalist><br>
        <br>
        <%= inner.label :location %>
        <%= inner.text_field :location%>
        <br>
        <%= inner.label :date %>
        <%= inner.date_field :date%>
      <%end%>
    
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :likes, :value => "0" %>
    <br><br>

    <%= f.submit %>
<%end%>



