<% require 'youtube_embed' %>

<div class= "outer-container">
    <div class="trklst-col-1">
        <img id="trklst-img" src=<%="#{@tracklist.img_url}"%>>
        <div class="trklst-col-info">
            <h1 class="index-header" id="trklst-name-h1"><%= @tracklist.name%></h1>
            <h4 id="trklst-name-h3">Made By: <%=@tracklist.user.username%></h4>
            <h4 class="header-trklst-info">Location</h4>
            <div class="trklst-festival-info-wrapper">
                <%=link_to "#{@tracklist.festival.name} - #{@tracklist.festival.location}", festival_path(@tracklist.festival), class: "text-info", style: "font-size: smaller;" %>
                <p class="text-info" style="font-size: small;
                margin-bottom: 0;"><%= @tracklist.festival.date.strftime("%d of %B, %Y") %></p>
            </div>
            <h4 class="header-trklst-info">Artist</h4>
            <div class="trklst-artist-info-wrapper">
                <%=link_to @tracklist.artist.name, artist_path(@tracklist.artist), class: "text-info", style: "font-size: smaller;" %>
            </div> 
            <div class="trklst-like-wrapper">
                <div class="trklst-like-button">
                    <%if user_signed_in? %>
                        <%if @tracklist.liked?(current_user) %>
                            <%= button_to "Like", like_path(@tracklist), method: "put", class: "btn btn-primary", disabled: true %>
                        <%else%>
                            <%= button_to "Like", like_path(@tracklist), method: "put", class: "btn btn-primary" %>
                        <%end%>
                    <%end%>
                </div>
                <div class="trklst-like-count">
                    <span class="badge badge-primary badge-pill"><%=@tracklist.likes.count%></span>
                </div>
            </div>    
            <div class="trklst-edit-link">
                <%if @tracklist.user == current_user%>
                    <%= button_to "Edit Songs", new_tracklist_song_path(@tracklist), method: "get" %>
                <%end%>
                <%if @tracklist.user == current_user%>
                    <%= button_to "Edit Tracklist", edit_tracklist_path(@tracklist), method: "get" %>
                <%end%>
                <%if @tracklist.user == current_user%>
                    <%= button_to "Delete Tracklist", tracklist_path(@tracklist), method: 'delete' %></p>
                <%end%>
            </div>    
        </div>
    </div>

    <div class="trklst-col-2">
        <div class="trklst-video-wrapper">
            <%= YoutubeEmbed::Video.iframe(@tracklist.link)%>
        </div>
        <div class="song-list-wrapper">
            <ul class="list-group">
                <%@tracklist.order_by_tracklist_number.each do |song|%>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="song-info-list">
                        <%= "#{song.start_time} #{song.artist_name} - #{song.title}"%>
                    </div>
                    <div class="verify-container">
                    <% if user_signed_in? %>
                        <% if song.verified?(current_user) %>
                            <%= button_to "Verify", verify_path(@tracklist, song), method: "put", class: "btn btn-primary verify-button", disabled: true %> 
                        <%else%>
                            <%= button_to "Verify", verify_path(@tracklist, song), method: "put", class: "btn btn-primary verify-button" %> 
                        <%end%>
                    <%end%>
                    <span class="badge badge-primary badge-pill verify-count"><%=song.verifications.count%></span></li>
                    <%end%>
                </div>
            </ul>
        </div>
    </div>
</div>



