
<div>
  <h3><%= @tracklist.name %></h3>
  <h4><%= @tracklist.festival.location %></h4>
  <h4><%= @tracklist.festival.date.strftime("%d of %B, %Y") %></h4>
  <br>
  <h3><%= @tracklist.artist.name %></h3>
  <img id= "artist_image", src= <%="#{@tracklist.artist.img_url}"%> , width="250", height="250", alt= "This URL Appears To Be Broken" >
  <br>
  
</div>
<div>
  <% @tracklist.order_by_tracklist_number.each do |song|%>
      <p><%= song.tracklist_number %>.  <%= song.start_time%> - <%= song.title %>[<%= song.artist_name%>]   <%= button_to "Remove Song", tracklist_song_path(@tracklist, song), method: 'delete' %></p>
  <%end%>
</div>
<p>Add Songs To Your Tracklist</p>

<div>
    <%if flash[:my_errors] %>
      <% flash[:my_errors].each do |error| %><br>
        <%= error %>
      <%end%>
    <%end%>
  </div>

<%= form_for @song, url: tracklist_songs_path(@tracklist) do |f| %>
  <%= f.number_field :tracklist_number, placeholder: "Tracklist Number"%>
  <br>
  <%= f.text_field :title, placeholder: "Song Title"%>
  <br>
  <%= f.text_field :artist_name, placeholder: "Original Artist of Song" %>
  <br>
  <%= f.text_field :start_time, placeholder: "00:00"%>
  <br>
  <%= f.hidden_field :tracklist_id, value: @tracklist.id %>
  <%= f.hidden_field :verified_count, value: '0' %>
  <%= f.submit class:"btn btn-secondary"%>
<%end%>

<div>
  <%= button_to "Finished Adding Songs", tracklist_path(@tracklist), method: "get", class: "btn btn-primary" %>
</div>
