
<div>
  <h3><%= @tracklist.name %></h3>
  <h4><%= @tracklist.festival.location %></h4>
  <h4><%= @tracklist.festival.date.strftime("%d of %B, %Y") %></h4>
  <br>
  <h3><%= @tracklist.artist.name %></h3>
  <img id= "artist_image", src= <%="#{@tracklist.artist.img_url}"%> , width="250", height="250", alt= "This URL Appears To Be Broken" >
  <br>
  
</div>

<% @tracklist.songs.each do |song|%>
  <p><%= song.title %> Originally By:<%= song.artist_name%></p>
<%end%>
<p>Add Songs To Your Tracklist</p>

<%= form_for @song, url: tracklist_songs_path(@tracklist) do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title %>
  <br>
  <%= f.label :artist_name%>
  <%= f.text_field :artist_name %>
  <br>
  <%= f.hidden_field :tracklist_id, value: @tracklist.id %>
  <%= f.hidden_field :verified_count, value: '0' %>
  <%= f.submit %>
<%end%>
